*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Card styling */
.card{
    margin-bottom: 3rem;
}
.card img{
    width: 300px;
    height: 268px;
    object-fit: contain;
}
  /* .card-img-top {
    height: 10rem;
    object-fit: cover;
  }
   */
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.875rem;
    color: #777;
  }
  
  .btn {
    background-color: #333;
    border-color: #333;
  }
  
  .btn:hover {
    background-color: #111;
    border-color: #111;
  }
  
  /* Star rating styling */

  .rating .fas {
    color: rgb(253, 203, 4);
  }
  

  .rating {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .star {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .star.active {
    background-color: #ffce00;
  }

  /* Hero section */
  .hero {
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 10rem;
  }
  
/* Footer  */
footer{
  background-color: #F6F4F9;
  padding: 50px 0;
}

footer ul li{
  padding: 5px 0;
}

footer li a{
  text-decoration: none;
  color: #9D9D9D;
  padding: 10px 0;
}

/* Shop */
.shop-content{
  padding: 3rem;
}

/* Product image */
.shop-content .products{
  padding-right: 0rem;
}

.products img.card-img-top {
width: 250px;
height: 400px;
object-fit: cover;
}


/* Single product  */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.form-select {
  width: 100%;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 200px;
  }
}

.product-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* Custom CSS for product image carousel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
}

.product-preview-img {
  max-width: 100%;
}

.product-preview-row {
  max-width: 100%;
}

/* Cart QTY */
.custom-input {
  max-width: 50px; /* set the maximum width of the input field */
}

/* Added products */
.added-products{
  padding: 1rem;
}

/* Star rating */

.star-btn {
  color: rgb(255, 230, 0);
}
